* {
  box-sizing: border-box; }



body {
  background-color: grey;
  padding: 30px;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #606c71; }

h1 {
  text-align: center;
  color:black;
  font-size :30pt; }
p.intro {
  color: black;
  font-size: 12pt; }  
p.question {
  color: white;
  font-weight: bold;
  font-size: 15pt; }
  
p.answer {
  color: black;
  font-size: 12pt; }
  
p.link {
  color: black;
  font-size: 12pt; }

